.card{
    width: 80%;
    margin: 10%;
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 5px gray;

    h5.price {
        color: gray;
    }
    p.description{
        font-size: .85rem;
    }
    p.text-muted{
        color: gray;
    }

   
}
button.view-product-button{
    padding: 10px;
    background-color: rgb(79, 160, 187);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.15rem;
    border-radius: 5px;
    cursor: pointer;
}
@media (min-width:500px) {
    .card{
        width: 350px;
        margin:10px;
    }
    
}